* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    color:blueviolet;
    background-color: antiquewhite;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

ul li {
    background-color: pink;
    color:blue;
    font-weight: bold;
}

.small-title {
    font-size: 40px;
    text-align: center;
}

.mini-title {
    font-size: 38px;
}

.ingredients {
    color:brown;
    font-weight: bolder;
}

.steps {
    background-color: aquamarine;
}